@{
    Layout = string.Empty;
    Mykisskui.article item = ViewBag.data as Mykisskui.article;
    
}
<html>
<head>
    <title>文章添加</title>
    <link href="/blog/css/AdminArticle.css" rel="stylesheet" />
    <link href="~/uploadify/uploadify.css" rel="stylesheet" />
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <script src="~/uploadify/jquery.uploadify.min.js"></script>

 
</head>
<body>
    <div class="articleAddbody">
        <form method="post">
            <input type="hidden" value="@item.Id" id="Id" />
            <div class="articleAdddiv">
                <div>标题</div>
                <div>
                    <input type="text" name="Title" value="@item.Title" />
                </div>
                <aside>请输入标题</aside>
            </div>
            <div class="articleAdddiv">
                <div>作者</div>
                <div>
                    <input type="text" name="author" value="@item.author" />
                </div>
                <aside>请输入作者</aside>
            </div>
            <div class="articleAdddiv">
                <div>类型</div>
                <div>
                    <select name="Type" id="Type">
                        <option value="1">文章</option>
                        <option value="2"  >游戏</option>
                    </select>
                </div>
                <aside>请选择类型</aside>
            </div>
            <div class="articleAdddiv">
                <div>浏览数</div>
                <div>
                    <input type="text" name="read" value="@(Int32.Parse(item.read.ToString()) == 0 ? 0 :item.read)" />
                </div>
            </div>
            <div class="articleAdddiv">
                <div>顶数量</div>
                <div>
                    <input type="text" name="Top" value="@(Int32.Parse(item.top.ToString()) == 0 ? 0 : item.top)" />
                </div>
            </div>
            <div class="articleAdddiv">
                <div>评论数</div>
                <div>
                    <input type="text" name="Tread" value="@(Int32.Parse(item.tread.ToString()) == 0 ? 0 : item.tread)" />
                </div>
            </div>
            <div class="articleAdddiv">
                <div>展示图片</div>
                <div>
                    <input type="text" id="upload" name="upload" value="" />
                </div>
                <img src="@item.key" id="uploadImage" />
                <input type="hidden" value="@item.key" id="key" name="key" />
                <aside>添加展示图片</aside>
            </div>
            <div class="articleAdddiv">
                <div>内容</div>
                <div>
                    <textarea id="editor" name="Text" class="editor">@item.Text</textarea>
                </div>
            </div>
                <input type="submit" value="提交" />
    
        </form>
    </div>

    <script type="text/javascript" charset="utf-8" src="~/Scripts/ueditor/ueditor.config.js"></script>
    <script src="~/Scripts/ueditor/ueditor.all.js"></script>
    <script type="text/javascript">
        var type = '@(item.type)';
        for (var i = 0; i < Type.options.length; i++) {
            if (Type.options[i].value === type) {
                Type.options[i].selected = true;
            }
        }

        var ue = new UE.getEditor('editor', { initialFrameHeight: 200,initialFrameWidth:700 });
        $("#upload").uploadify({
            'uploader': '/Admin/upload?filetype=pic',
            'formData': {},
            'type': "post",
            'buttonText': '选择图片',
            'auto': true,
            'multi': true,
            'font-weight':400,
            'width': 200,
            'swf': "/uploadify/uploadify.swf",
            'onUploadSuccess': function (e, response, data) {
                var stringArray = response.split("|");
                if (stringArray[0] == "1") {
                    $("#uploadImage").attr('src', stringArray[1]);
                    $("#key").val(stringArray[1]);
                }
                else {
                    console.log(stringArray[2]);
                }
            }
        });
    </script>
</body>
</html>
