@{
    Layout = string.Empty;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>不知名</title>
    <meta name="keywords" content="个人博客,不知名,yujx" />
    <meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
    <link href="/blog/css/base.css" rel="stylesheet">
    <link href="/blog/css/index.css" rel="stylesheet">
    <link href="/blog/css/media.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="baidu_union_verify" content="af07ea4fb65e33ffc012d00826d0509a">
    <link href="~/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/blog/js/modernizr.js"></script>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?ed0bb05f20f4f1a80bfbae291a7639ce";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>

    <div class="ibody">
      @Html.Partial("Menu")
        <article>
            @*<div class="banner">
                <ul class="texts">
                    <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
                    <p>最好的生活是用心甘情愿的态度，过随遇而安的生活.</p>
                </ul>
            </div>*@
            <div class="bloglist">
                @*<h2>
                    <p><span>热搜</span>新闻</p> 全部
                                国内
                                国际
                                社会
                                军事
                                财经
                                汽车
                                科技
                                娱乐
                                体育
                </h2>*@
                <div class="news_navi">
                        <ul id="news_navi_ul">
                            <li>
                                <span>国内</span>
                            </li>
                            <li>
                                <span>国际</span>
                            </li>
                            <li>
                                <span>社会</span>
                            </li>
                            <li>
                                <span>军事</span>
                            </li>
                            <li>
                                <span>财经</span>
                            </li>
                            <li>
                                <span>汽车</span>
                            </li>
                            <li>
                                <span>科技</span>
                            </li>
                            <li>
                                <span>国内</span>
                            </li>
                            <li>
                                <span>体育</span>
                            </li>
                        </ul>
                </div>
                <div class="news">
                    <div>
                        <div class="news_layout" data-layout="0">
                            <div class="news_layout_1">
                                <a href="#">
                                </a>
                            </div>
                        </div>
                        <div class="news_layout" data-layout="1">
                            <div class="news_layout_2">
                                <a href="#">
                                </a>
                            </div>
                            <div class="news_layout_3">
                                <a href="#">
                                </a>
                            </div>
                            <div class="news_layout_3">
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="news_layout" data-layout="2">
                            <div class="news_layout_3">
                                <a href="#"></a>
                            </div>
                            <div class="news_layout_3">
                                <a href="#"></a>
                            </div>
                            <div class="news_layout_3">
                                <a href="#"></a>
                            </div>
                            <div class="news_layout_3">
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="news_layout" data-layout="3">
                            <div class="news_layout_3">
                                <a href="#"></a>
                            </div>
                            <div class="news_layout_3">
                                <a href="#"></a>
                            </div>
                            <div class="news_layout_2">
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="news_layout" data-layout="4">
                            <div class="news_layout_1">
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="news_layout" data-layout="5">
                            <div class="news_layout_3">
                                <a href="#"></a>
                            </div>
                            <div class="news_layout_3">
                                <a href="#"></a>
                            </div>
                            <div class="news_layout_2">
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="news_loading" id="news_loading">
                        <i class="icon-spinner  icon-spin icon-2x pull-left"></i>
                    </div>
                </div>
             
            </div>

            <div class="bloglist">
                <h2>
                    <p><span>推荐</span>文章</p>
                </h2>
                @{
                      foreach(Mykisskui.article item in ViewBag.data)
                      {
                          string type = Mykisskui.Models.Configs.TypeToString(Int32.Parse(item.type.ToString()));
                          string image = item.key.Trim() == string.Empty ? "/blog/images/mi.png" : item.key;
                                <div class="blogs">
                                    <h3><a href="/Blog/New/@item.Id" target="_blank">@item.Title</a></h3>
                                    <figure><img src="@image"></figure>
                                    <ul>
                                        <p>@Html.Raw(HttpUtility.HtmlEncode(item.Text))</p>
                                        <a href="/Blog/New/@item.Id" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                                    </ul>
                                    <p class="autor"><span>作者：@item.author</span><span>分类：【<a href="/">@type</a>】</span><span>浏览（<a href="/">@item.read</a>）</span><span>评论（<a href="/">@item.tread</a>）</span></p>
                                    <div class="dateview">@item.Time.Value.ToString("yyyy-MM-dd")</div>
                                </div>
                     }
                }
            </div>
        </article>
        @Html.Partial("Right")
        <script src="~/js/jquery-1.8.2.min.js"></script>
        <script src="/blog/js/silder.js"></script>
        <div class="clear"></div>
        <script src="~/blog/js/baidutuisong.js"></script>
        <script src="~/blog/js/navscroll.js"></script>
    </div>
</body>
</html>
